<div class="container">
<%= form_with model: @game do |form| %>
   <h1> New Game </h1>
    <div class="mb-3">
      <label for="result" class="form-label">Result</label>
     <select class= "result" class= "form-control" id= "result">
       <option selected disabled>Game Result</option>
        <option value="1">CheckMate</option>
        <option value="2">Draw</option>
        <option value="3">Loss</option>
        <option value="4">Won by Resignation</option>
        <option value="4">Loss by Resignation</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="winner" class="form-label">Winner</label>
      <%= form.text_field :winner, class: "form-control", id: "winner", placeholder: "Your name?" %>
    </div>
    <div class="mb-3">
      <label for="image_url" class="form-label">GIF URL</label>
      <%= form.text_field :image_url, class: "form-control", id: "image_url", placeholder: "GIF URL" %>
    </div>
    <a href="https://www.chess.com/gifs" class="btn btn-success btn-lg" target="_blank">Go to GIF maker</a>
    <%= form.submit "Submit", class: "btn btn-success btn-lg" %>
  <% end %>
</div>